{% extends 'accounts/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'accounts:index' %}">TodoGuide</a>
</nav>
<div class="container">
    <form class="form" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
            <h1>Sign in to TodoGuide</h1>
            <label>Usename:</label>
            {{ form.username }}
            <label>Password:</label>
            {{ form.password }}
            <br>
            <button class="btn btn-primary btn-block">Login</button>
        <p class="mt-2 text-muted text-center">&copy; 2017-2018</p>
    </form>
</div>
{% endblock %}