{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'accounts:index' %}">TodoGuide</a>
</nav>

<div class="container">
    <!-- <img id="bg-img" src="{% static 'accounts/images/todo1.jpg' %}"> -->
    <form class="form" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
            <h1>Sign in to TodoGuide</h1>
            <label>Usename:</label>
            {{ form.username }}
            <label>Password:</label>
            {{ form.password }}
            <br>
            <button class="btn btn-primary btn-block">Login</button>
        <p class="mt-2 text-muted text-center">&copy; 2017-2018</p>
    </form>
</div>
{% endblock %}