{% extends 'accounts/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'accounts:index' %}">TodoGuide</a>
</nav>
<div class="container">
    <form class="form" action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        <h1>Join FlightX</h1>
        <label>Username:</label>
        {{ form.username }}
        <label>Enter Email:</label>
        {{ form.email }}
        <label>Confirm Email:</label>
        {{ form.email2 }}
        <label>Enter password:</label>
        {{ form.password1 }}
        <label>Confirm Password:</label>
        {{ form.password2 }}
        <br>
        <button class="btn btn-primary btn-block">Sign Up</button>
    </form>
</div>
{% endblock %}