{% extends 'TodoApp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'TodoApp/css/todo.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'TodoApp:todo' %}">TodoGuide</a>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-success">&#x2699;</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
            <a class="dropdown-item" href="{% url 'accounts:pass_update' %}">Change Password</a>
          </div>
        </div>
    </div>
    <a class="navbar-brand" href="{% url 'accounts:login' %}">Logout</a>
</nav>
<div class="container">
<table class="table table-hover">
    <thead>
        <th scope="col">Todos</th>
    </thead>
    <tbody>
        <tr class="table-light">
            <td>
                {% for todo in todo_list %}
                <li>
                    {{ todo.content }}
                    <form id="delete_button" action="{% url 'TodoApp:DeleteTodo' todo.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="&#10006;" class="btn btn-outline-danger btn-sm">
                    </form>
                </li>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="container">
    <form action="{% url 'TodoApp:AddTodo' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="content" placeholder="Enter your Todos">
        <br>
        <button class="btn btn-primary btn-block">Add</button>
    </form>
</div>
{% endblock %}
