{% extends 'TodoApp/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'TodoApp:todo' %}">TodoGuide</a>
    <a class="navbar-brand" href="{% url 'accounts:login' %}">Logout</a>
</nav>
<div class="container">
<table class="table table-hover">
    <thead>
        <th scope="col">Todos</th>
    </thead>
    <tbody>
        <tr class="table-success">
            <td>
                {% for todo in todo_list %}
                <li>
                    {{ todo.content }}
                </li>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="container">
    <form action="{% url 'TodoApp:AddTodo' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="content" placeholder="Enter your Todos">
        <br>
        <button class="btn btn-primary btn-block">Add</button>
    </form>
</div>
{% endblock %}
