{% extends 'TodoApp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'TodoApp/css/todo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'TodoApp:todo' %}">TodoGuide</a>
        </div>
        <span class="d-block d-lg-inline-block">
            <div class="HeaderNavlink px-0 py-2 m-0">
                <a class="navbar-brand" href="{% url 'accounts:pass_update' %}">Channge Password</a>
                <a class="navbar-brand" href="{% url 'accounts:logout' %}">Logout</a>
            </div>
        </span>
    </div>
</nav>
<div class="container">
<table class="table table-hover">
    <thead>
        <th scope="col">Todos</th>
    </thead>
    <tbody>
        <tr class="table-light">
            <td>
                {% for todo in todo_list %}
                <li>
                    {{ todo.content }}
                    <form id="delete_button" action="{% url 'TodoApp:DeleteTodo' todo.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="&#10006;" class="btn btn-outline-danger btn-sm">
                    </form>
                </li>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="container">
    <form action="{% url 'TodoApp:AddTodo' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="content" placeholder="Enter your Todos">
        <br>
        <button class="btn btn-primary btn-block">Add</button>
    </form>
</div>
{% endblock %}
